@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

/* Switcher - Off
	 ========================================================================== */

.switcher {
	@include user-select(none);
	background: rgba(#0e141a, .4);
	border-radius: 12px;
	cursor: pointer;
	height: 23px;
	width: 40px;
}

.switcher-control {
	background: rgba(#0e141a, .7);
	border-radius: 50%;
	float: left;
	height: 25px;
	margin-top: -1px;
	width: 25px;
}

.switcher-control-icon {
	background: #fff;
	height: 2px;
	margin: 11px auto;
	width: 6px;
}

/* Switcher - On
	 ========================================================================== */

.switcher-on {
	background: rgba(#77d55a, .4);
}

.switcher-on .switcher-control {
	background: #77d55a;
	float: right;
}

.switcher-on .switcher-control-icon {
	height: 6px;
	margin: 9px auto;
	width: 2px;
}
