/* TreeView
	 ========================================================================== */

.treeview ul {
	list-style: none;
}

.treeview .treeview-nodes {
	margin: 0.5rem 0 0 2.1rem;
	padding: 0;
}

.treeview .treeview-node {
	margin-bottom: 0.5rem;
}

.treeview .treeview-node-main.hasChildren {
	cursor: pointer;
}

.treeview .treeview-node-toggler {
	border: 1px solid #000;
	float: left;
	font-size: 1.2rem;
	height: 1rem;
	margin-top: .4rem;
	line-height: 0.7rem;
	text-align: center;
	width: 1rem;
}

.treeview .treeview-node-toggler:before {
	content: '+';
}

.treeview .treeview-node-wrapper.expanded > .treeview-node-main > .treeview-node-toggler:before {
	content: '-';
}

.treeview .treeview-node-name {
	float: left;
	font-size: 1.4rem;
	margin-left: .8rem;
}

.treeview .treeview-node-wrapper > .treeview-nodes {
	display: none;
}

.treeview .treeview-node-wrapper.expanded > .treeview-nodes {
	display: block;
}
