.autocomplete-badges {
	border: 1px solid #ccc;
    overflow: hidden;

    .autocomplete-field {
        border: none;
        box-shadow: none;
    }

    .autocomplete-field-wrapper {
        display: block;
        overflow: hidden;
    }

	&--list {
		float: left;
		padding: 0;
		margin: 0;
		
		li {
			margin-top: 6px;
			margin-left: 4px;

			span:first-child {
				margin-right: 8px;
			}

			span:last-child {
				cursor: pointer;
			}
		}
	}
}
