@import "steel-bootstrap/src/variables";
@import "steel-bootstrap/src/mixins";

.alert {
	border-radius: 0;
	border: 0;
	font-weight: 600;
	padding: 45px 40px;
	text-align: center;
}

.alert-danger {
	color: $white;
	background-color: $brand-danger;
}

.alert-success {
	color: $white;
	background-color: $brand-success;
}

.alert .close {
	@include anim(color);
	color: $white;
	font-size: 32px;
	line-height: 24px;
	opacity: 1;
	outline: none;
	text-shadow: none;
}

.alert .close:hover {
	color: rgba($white, .7);
	opacity: 1;
}
